<br><br><br>

<h1>Edit User Info</h1>

<form action="/users/<%=@user.id%>/update" method="post">

  <label for="first_name"><sub><i>First Name:</i></sub></label><br>
  <input type="text" name="first_name" value="<%=@user.first_name%>">
  <br>
  <label for="last_name"><sub><i>Last Name:</i></sub></label><br>
  <input type="text" name="last_name" value="<%=@user.last_name%>">
  <br>
  <label for="email"><sub><i>Email:</i></sub></label><br>
  <input type="text" name="email" value="<%=@user.email%>">
  <br>
  <label for="password"><sub><i>Password:</i></sub></label><br>
  <input type="text" name="password" value="<%=@user.password%>">
  <br><br>
  <input type="submit">

</form>

<br><br>

<a href="/">Home</a>