<center>

<br><br><br>

  <h1>To-Do List</h1>

  <table style="width:20%">

    <% @todos.each do |t| %>
      <tr>
        <td>
          <form action="/todos/<%=t.id%>">
            <input type="checkbox" name="completed">
          </form>
        </td>
        <td>
          <a href="/todo_page/<%=t.id%>">
            <%= t.title %>
          </a>
        </td>
        <td> 
          <form action="/todos/<%=t.id%>/edit"> 
            <input type="submit" value="Edit">
          </form>
        </td>
        <td>
          <form action="/todos/<%=t.id%>/delete" method="post">
            <input type="submit" value="Delete">
          </form>
        </td>
        <td>
          <%=t.user_access.first_name%>
        </td>
      </tr>
    <% end %>

  </table>

  <br>
  <br>

  <a href="/todos/new">Add a Task</a> |
  <a href="/">Home</a>

</center>